In [1]:
import pandas as pd

## Series

In [3]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [12]:
s = pd.Series(data=data, index=index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [14]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [17]:
s = pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [19]:
s1 = s + 2
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [22]:
s2 = s + s1
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

## DataFrame

In [24]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [30]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [32]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [48]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [36]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [38]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [40]:
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [42]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [49]:
df1[df1 > 0] = 'A'
df1

       coluna0 coluna1 coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [50]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [51]:
df3[df3 > 0] = 'C'
df3

       coluna0 coluna1 coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [52]:
df4 = pd.concat([df1, df2, df3])
df4

       coluna0 coluna1 coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A     NaN     NaN     NaN
Linha1       A       A       A     NaN     NaN     NaN
Linha2       A       A       A     NaN     NaN     NaN
Linha0     NaN     NaN     NaN       B       B       B
Linha1     NaN     NaN     NaN       B       B       B
Linha2     NaN     NaN     NaN       B       B       B
Linha0       C       C       C     NaN     NaN     NaN
Linha1       C       C       C     NaN     NaN     NaN
Linha2       C       C       C     NaN     NaN     NaN