In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]}, 
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

Matérias    Fulano  Sicrano
Matemática       8      7.5
Português       10      8.0
Inglês           4      7.0
Geografia        8      8.0
História         6      8.0
Física          10      8.5
Química          8      7.0

In [3]:
df.mad()

Matérias
Fulano     1.551020
Sicrano    0.469388
dtype: float64